In [1]:

import pandas as pd
dict={'Outlook':['Rainy','Sunny','Overcast','Overcast','Sunny','Rainy','Sunny','Overcast','Rainy','Sunny','Sunny','Rainy'
                 ,'Overcast','Overcast'],'Play':['yes','yes','yes','yes','no','yes','yes','yes','no','no','yes','no','yes','yes']}

d=pd.DataFrame(dict)
d

     Outlook Play
0      Rainy  yes
1      Sunny  yes
2   Overcast  yes
3   Overcast  yes
4      Sunny   no
5      Rainy  yes
6      Sunny  yes
7   Overcast  yes
8      Rainy   no
9      Sunny   no
10     Sunny  yes
11     Rainy   no
12  Overcast  yes
13  Overcast  yes

In [2]:
total_yes=total_no=overcast_yes=overcast_no=rainy_yes=rainy_no=sunny_yes=sunny_no=0
for i in range(len(d)):
    if(d['Play'][i]=='yes'):
        total_yes += 1
    if(d['Play'][i]=='no'):
        total_no +=1
    if(d['Outlook'][i]=='Rainy' and d['Play'][i]=='yes'):
        rainy_yes += 1
    if(d['Outlook'][i]=='Rainy' and d['Play'][i]=='no'):
        rainy_no += 1
    if(d['Outlook'][i]=='Overcast' and d['Play'][i]=='yes'):
        overcast_yes += 1
    if(d['Outlook'][i]=='Overcast' and d['Play'][i]=='no'):
        overcast_no += 1
    if(d['Outlook'][i]=='Sunny' and d['Play'][i]=='yes'):
        sunny_yes += 1
    if(d['Outlook'][i]=='Sunny' and d['Play'][i]=='no'):
        sunny_no += 1
d2=pd.DataFrame({'Yes':[overcast_yes,rainy_yes,sunny_yes,total_yes],'No':[overcast_no,rainy_no,sunny_no,total_no]},index=['overcast','rainy','sunny','total'])
d2

          Yes  No
overcast    5   0
rainy       2   2
sunny       3   2
total      10   4

In [3]:
prob_overcast='(5+0)/14'
prob_rainy='4/14'
prob_sunny='5/14'
prob_yes='10/14'
prob_no='4/14'

d3=pd.DataFrame({'Yes':[overcast_yes,rainy_yes,sunny_yes,prob_yes],'No':[overcast_no,rainy_no,sunny_no,prob_no],'probability':[prob_overcast,prob_rainy,prob_sunny,' ']},index=['overcast','rainy','sunny','total_prob'])
d3

              Yes    No probability
overcast        5     0    (5+0)/14
rainy           2     2        4/14
sunny           3     2        5/14
total_prob  10/14  4/14

In [4]:
#new input is If the weather is sunny, then the Player should play or not?

#we use naive baye's formula ot solve this

#formula-> p(A|B)=(p(B|A)*p(A))/p(B)

#we will check wheather player should play first then check for not play ?



#case-1(player should play)

#p(yes|sunny)=(p(sunny|yes).P(yes))/p(sunny)

prob_sunny_yes=((3/10)*(10/14))/(5/14)  #3/10 becuz out of 10yes, 3 yes belongs to sunny class



#case-2(player should not play)

#p(no|sunny)=(p(sunny|no).P(no))/p(sunny)

prob_sunny_no=((2/4)*(4/14))/(5/14)  #3/10 becuz out of 10no 2 no belongs to sunny class

if(prob_sunny_yes>prob_sunny_no):   #as Naive baye's classfier says higher probability of yes than no so it is the predicted value 
    print("Player can play in the sunny day")
else:
    print("Player can not play in the sunny day")

Player can play in the sunny day